.dashboard {
  font-weight: bold;
  padding: 3%;
  height: 5%;
}

#dashboard {
  background-color: rgb(249, 246, 246);
}

navbar {
  background-color: white;
}

.content {
  background-color: lightgray;
}

.no-border {
border: none;
}

/* Style for list items */
.list-group-item {
  border: none; /* Remove border from list items */

}

#projectDropdown, #profileDropdown {
  text-decoration: none;
  color: black;
}

i {
  margin-right: 2%;
}

.leftNav:hover {
  background-color: rgb(244, 200, 244);
}

/* Order Cards */

.cardImage {
  display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#revenue {
  background-color: rgb(196, 162, 255);
}

#orders {
  background-color: aliceblue;
}

#deliveries {
  background-color: rgb(244, 171, 214);
}

#customers {
  background-color: rgb(247, 194, 213);
}

.card {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.btn-rounded {
  border-top-left-radius: 50px;
      border-top-right-radius: 50px;
      border-bottom-left-radius: 50px;
      border-bottom-right-radius: 50px;
}

#ordersButton {
background-color: purple;
}