.dashboard {
  font-weight: bold;
  padding: 3%;
  height: 5%;
}

navbar {
  background-color: white;
}

.content {
  background-color: lightgray;
}

.no-border {
border: none;
}

/* Style for list items */
.list-group-item {
  border: none; /* Remove border from list items */

}

#projectDropdown, #profileDropdown {
  text-decoration: none;
  color: black;
}

i {
  margin-right: 2%;
}

.leftNav:hover {
  background-color: rgb(244, 200, 244);
}

/* Order Cards */
#revenue {
  background-color: rgb(196, 162, 255);
}

#orders {
  background-color: aliceblue;
}

#deliveries {
  background-color: rgb(244, 171, 214);
}

#customers {
  background-color: rgb(247, 194, 213);
}