.dashboard {
  font-weight: bold;
  padding: 3%;
  height: 5%;
}

navbar {
  background-color: white;
}

.content {
  background-color: lightgray;
}

.no-border {
border: none;
}

/* Style for list items */
.list-group-item {
  border: none; /* Remove border from list items */
}